<a href="https://colab.research.google.com/github/YashPatel1604/AI-workshop-UTD/blob/main/HousingData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [ ]:
def removing(x):
  x.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
  x.drop(['Alley','PoolQC','Fence','MiscFeature'],axis = 1,inplace = True)
  columns = x.columns.values
  for column in columns:
    if x[column].dtype != np.int64 and x[column].dtype != np.float64:
      x[column].fillna(value = x[column].mode(),inplace = True)
    else:
      x[column].fillna(value = x[column].mean(),inplace = True)
  


def handle_non_numerical_data(df):
    columns = df.columns.values
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = str(x)
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))
def main(df):
  removing(df)
  handle_non_numerical_data(df)
  # one_hot_encoding(df)

def add_missing_dummy_columns(test,train):
  missing_cols = set(train.columns) - set(test.columns)
  missing_cols2 = set(test.columns) - set(train.columns)
  for c in missing_cols:
    test[c] = 0

  for c in missing_cols2:
    train[c] = 0

In [ ]:
main(train)

In [ ]:
main(test)

In [ ]:
train.shape

(1460, 77)

In [ ]:
test.shape

(1459, 76)

In [ ]:
# x_train = train.drop('SalePrice',axis=1)
y_train = train['SalePrice']

In [ ]:
encoded_train = pd.get_dummies(train)
encoded_train.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_5,SaleType_6,SaleType_7,SaleType_8,SaleCondition_0,SaleCondition_1,SaleCondition_2,SaleCondition_3,SaleCondition_4,SaleCondition_5
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,1,0,0,0,1,0,0,0,0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,0,1,0,0,0,1,0,0,0,0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,1,0,0,0,1,0,0,0,0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,1,0,0,0,0,1,0,0,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,0,1,0,0,0,1,0,0,0,0

In [ ]:
encoded_test = pd.get_dummies(test)
encoded_test.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_6,SaleType_7,SaleType_8,SaleType_9,SaleCondition_0,SaleCondition_1,SaleCondition_2,SaleCondition_3,SaleCondition_4,SaleCondition_5
0,1461,20,80.0,11622,5,6,1961,1961,0.0,468.0,...,0,1,0,0,0,1,0,0,0,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,923.0,...,0,1,0,0,0,1,0,0,0,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,791.0,...,0,1,0,0,0,1,0,0,0,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,602.0,...,0,1,0,0,0,1,0,0,0,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,263.0,...,0,1,0,0,0,1,0,0,0,0

In [ ]:
add_missing_dummy_columns(encoded_test,encoded_train)

In [ ]:
encoded_train.shape

(1460, 293)

In [ ]:
encoded_test.shape
encoded_test.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageQual_5,RoofMatl_4,RoofMatl_6,Electrical_4,RoofMatl_5,Heating_4,Condition2_6,Exterior1st_14,RoofMatl_7,Condition2_5
0,1461,20,80.0,11622,5,6,1961,1961,0.0,468.0,...,0,0,0,0,0,0,0,0,0,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,923.0,...,0,0,0,0,0,0,0,0,0,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,791.0,...,0,0,0,0,0,0,0,0,0,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,602.0,...,0,0,0,0,0,0,0,0,0,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,263.0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
scaler = StandardScaler()
reg = LinearRegression()

In [ ]:
encoded_test_scaled = scaler.fit_transform(encoded_test)
encoded_test.shape

encoded_train_scaled = scaler.fit_transform(encoded_train)

In [ ]:
# from sklearn.model_selection import train_test_split
# x_train, x_test, y_train, y_test = train_test_split(
#     encoded_train, y_train, test_size=0.33, random_state=42)
# x_train
# train_test_split(y_train, shuffle=False)

In [ ]:
reg.fit(encoded_train_scaled,y_train)

LinearRegression()

In [ ]:
SalePrice = reg.predict(encoded_test_scaled)
print(SalePrice)

[177180.8358081  176464.02749879 176631.02574596 ... 176495.97060725
 176502.04819795 176685.02000695]

In [ ]:
flat_list = [x for x in SalePrice]

In [ ]:
prediction = pd.DataFrame({'id': range(1461,2920),'SalePrice':flat_list})
prediction.head()

     id      SalePrice
0  1461  177180.835808
1  1462  176464.027499
2  1463  176631.025746
3  1464  177022.942989
4  1465  176401.312050

In [ ]:
pd.DataFrame(prediction).to_csv("prediction_file.csv",index = False)

In [ ]:
print(set(encoded_train.columns) - set(encoded_test.columns))

set()

In [ ]:
# def compute_cost(x, y, w, b):
   
#     m = x.shape[0] 
#     cost = 0
    
#     for i in range(m):
#         f_wb = w * x[i] + b
#         cost = cost + (f_wb - y[i])**2
#     total_cost = 1 / (2 * m) * cost

#     return total_cost

In [ ]:
# def compute_gradient(x, y, w, b): 
#     """
#     Computes the gradient for linear regression 
#     Args:
#       x (ndarray (m,)): Data, m examples 
#       y (ndarray (m,)): target values
#       w,b (scalar)    : model parameters  
#     Returns
#       dj_dw (scalar): The gradient of the cost w.r.t. the parameters w
#       dj_db (scalar): The gradient of the cost w.r.t. the parameter b     
#      """
    
#     # Number of training examples
#     m = x.shape[0]    
#     dj_dw = 0
#     dj_db = 0
    
#     for i in range(m):  
#         f_wb = w * x[i] + b 
#         dj_dw_i = (f_wb - y[i]) * x[i] 
#         dj_db_i = f_wb - y[i] 
#         dj_db += dj_db_i
#         dj_dw += dj_dw_i 
#     dj_dw = dj_dw / m 
#     dj_db = dj_db / m 
        
#     return dj_dw, dj_db

In [ ]:
# def gradient_descent(x, y, w_in, b_in, alpha, num_iters, cost_function, gradient_function): 
#     """
#     Performs gradient descent to fit w,b. Updates w,b by taking 
#     num_iters gradient steps with learning rate alpha
    
#     Args:
#       x (ndarray (m,))  : Data, m examples 
#       y (ndarray (m,))  : target values
#       w_in,b_in (scalar): initial values of model parameters  
#       alpha (float):     Learning rate
#       num_iters (int):   number of iterations to run gradient descent
#       cost_function:     function to call to produce cost
#       gradient_function: function to call to produce gradient
      
#     Returns:
#       w (scalar): Updated value of parameter after running gradient descent
#       b (scalar): Updated value of parameter after running gradient descent
#       J_history (List): History of cost values
#       p_history (list): History of parameters [w,b] 
#       """
    
#     w = copy.deepcopy(w_in) # avoid modifying global w_in
#     # An array to store cost J and w's at each iteration primarily for graphing later
#     J_history = []
#     p_history = []
#     b = b_in
#     w = w_in
    
#     for i in range(num_iters):
#         # Calculate the gradient and update the parameters using gradient_function
#         dj_dw, dj_db = gradient_function(x, y, w , b)     

#         # Update Parameters using equation (3) above
#         b = b - alpha * dj_db                            
#         w = w - alpha * dj_dw                            

#         # Save cost J at each iteration
#         if i<100000:      # prevent resource exhaustion 
#             J_history.append( cost_function(x, y, w , b))
#             p_history.append([w,b])
#         # Print cost every at intervals 10 times or as many iterations if < 10
#         if i% math.ceil(num_iters/10) == 0:
#             print(f"Iteration {i:4}: Cost {J_history[-1]:0.2e} ",
#                   f"dj_dw: {dj_dw: 0.3e}, dj_db: {dj_db: 0.3e}  ",
#                   f"w: {w: 0.3e}, b:{b: 0.5e}")
 
#     return w, b, J_history, p_history #return w and J,w history for graphing

In [ ]:
def mse(X,Y):
  return ((X-Y)**2).mean() / 2

In [ ]:
def linear_regression(x,w,b):
  return np.dot(x,w) + b

print(linear_regression([2,3],[3,2],2))

14

In [ ]:
def gradient_descent(X,Y,w,_b,learning_rate,iterations):
  b = _b
  double_len_x = len(X) * 2
  X_transpose = X.transpose()
  for _ in range(iterations):
    linear_regressions = linear_regression(X,w,b)
    differences = (linear_regressions - Y)
    w_change = np.dot(X_transpose,differences)/double_len_x
    w -= learning_rate * w_change
    b_change = differences.mean()
    b -= learning_rate * b_change/2

    if _ % 10000 == 0:
      print('Iteration ' + str(_) + ', loss: ' + str(mse(linear_regressions,Y)))
      #print(np.dot(X_transpose,differences))

  return w,b

In [ ]:
w = np.array([0] * 293, dtype = 'float')
w_,b = gradient_descent(encoded_train_scaled,y_train,w,0,0.01,100000)

Iteration 0, loss: 19519633853.882877
Iteration 10000, loss: 744127.0020521526
Iteration 20000, loss: 10945.602153930004
Iteration 30000, loss: 792.8910745881342
Iteration 40000, loss: 152.47637371275067
Iteration 50000, loss: 33.10181926688713
Iteration 60000, loss: 7.31815819182133
Iteration 70000, loss: 1.6330237438112725
Iteration 80000, loss: 0.36687235957971187
Iteration 90000, loss: 0.08283820304863491