<a href="https://colab.research.google.com/github/YashPatel1604/AI-workshop-UTD/blob/main/HousingData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
split_index = train.iloc[-1].Id
na = train.isna().sum()
print(na[na>0])
print('----------')
df = pd.concat((train,test),sort = False)
df.set_index('Id',drop=True,inplace=True)

LotFrontage      259
Alley           1369
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64
----------

In [3]:
def removing(x):
  
  x.Alley.fillna('NA',inplace = True)
  x.BsmtQual.fillna('NA',inplace = True)
  x.BsmtCond.fillna('NA',inplace = True)
  x.BsmtExposure.fillna('NA',inplace = True)
  x.BsmtFinType1.fillna('NA',inplace = True)
  x.BsmtFinType2.fillna('NA',inplace = True)
  x.FireplaceQu.fillna('NA',inplace = True)
  x.GarageType.fillna('NA',inplace = True)
  x.GarageFinish.fillna('NA',inplace = True)
  x.GarageQual.fillna('NA',inplace = True)
  x.GarageCond.fillna('NA',inplace = True)
  x.PoolQC.fillna('NA',inplace = True)
  x.Fence.fillna('NA',inplace = True)
  x.MiscFeature.fillna('NA',inplace = True)

  x.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
  # x.drop(['Alley','PoolQC','Fence','MiscFeature'],axis = 1,inplace = True)
  columns = x.columns.values
  GarageNull = pd.DataFrame(x['GarageYrBlt'].isnull().values)
  for y in GarageNull:
    yin = GarageNull.index
    x['GarageYrBlt'].iloc[yin] = (x['YearBuilt'].iloc[yin])
  for column in columns:
    if x[column].dtype != np.int64 and x[column].dtype != np.float64:
      if x[column].isna().sum()>200:
        x[column].fillna(value ='No Feature',inplace = True)
      else:
        x[column].fillna(value=x[column].mode(),inplace=True)
    else:
      x[column].fillna(value = x[column].mean(),inplace = True)

def handle_non_numerical_data(df):
    columns = df.columns.values
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = str(x)
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))
def main(df):
  removing(df)
  handle_non_numerical_data(df)
  # one_hot_encoding(df)

def add_missing_dummy_columns(test,train):
  missing_cols = set(train.columns) - set(test.columns)
  missing_cols2 = set(test.columns) - set(train.columns)
  for c in missing_cols:
    test[c] = 0

  for c in missing_cols2:
    train[c] = 0

In [4]:
main(df)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [5]:
encoded_df = pd.get_dummies(df)

In [6]:
encoded_df

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_6,SaleType_7,SaleType_8,SaleType_9,SaleCondition_0,SaleCondition_1,SaleCondition_2,SaleCondition_3,SaleCondition_4,SaleCondition_5
Id,,,,,,,,,,,,,,,,,,,,,
1,60,65.0,8450,7,5,2003,2003,196.0,706.0,0.0,...,0,0,0,1,0,0,0,0,1,0
2,20,80.0,9600,6,8,1976,1976,0.0,978.0,0.0,...,0,0,0,1,0,0,0,0,1,0
3,60,68.0,11250,7,5,2001,2002,162.0,486.0,0.0,...,0,0,0,1,0,0,0,0,1,0
4,70,60.0,9550,7,5,1915,1970,0.0,216.0,0.0,...,0,0,0,1,0,1,0,0,0,0
5,60,84.0,14260,8,5,2000,2000,350.0,655.0,0.0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2915,160,21.0,1936,4,7,1970,1970,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
2916,160,21.0,1894,4,5,1970,1970,0.0,252.0,0.0,...,0,0,0,1,0,1,0,0,0,0
2917,20,160.0,20000,5,7,1960,1996,0.0,1224.0,0.0,...,0,0,0,1,0,1,0,0,0,0
2918,85,62.0,10441,5,5,1992,1992,0.0,337.0,0.0,...,0,0,0,1,0,0,0,0,1,0
2919,60,74.0,9627,7,5,1993,1994,94.0,758.0,0.0,...,0,0,0,1,0,0,0,0,1,0

In [7]:
from sklearn.preprocessing import minmax_scale
for column in encoded_df.columns:
  if column != 'SalePrice':
    encoded_df[column] = pd.Series(minmax_scale(encoded_df[column]),index=encoded_df.index)

In [8]:
from sklearn.preprocessing import MinMaxScaler
target_col = encoded_df.loc[:split_index].SalePrice
target_scaler = MinMaxScaler()
Y = np.array(target_col.to_numpy())
Y = Y.reshape(Y.size,1)
target_scaler.fit(Y)
Y = target_scaler.transform(Y)
Y = Y.reshape(Y.size)
encoded_df.drop('SalePrice',axis=1,inplace=True)

In [ ]:
# from sklearn.model_selection import train_test_split
# x_train, x_test, y_train, y_test = train_test_split(
#     encoded_train, y_train, test_size=0.33, random_state=42)
# x_train
# train_test_split(y_train, shuffle=False)

In [12]:
reg = LinearRegression()
train_df = encoded_df.loc[:split_index]
test_df = encoded_df.loc[split_index+1:]
reg.fit(train_df,Y)

LinearRegression()

In [17]:
SalePrice = reg.predict(test_df)
final=target_scaler.inverse_transform(SalePrice.reshape(-1,1))
print(final)

[[112463.26141357]
 [159864.86358643]
 [186565.34881592]
 ...
 [179093.60809326]
 [114880.58929443]
 [223297.74475098]]

In [18]:
train_df = encoded_df.loc[:split_index]
test_df = encoded_df.loc[split_index+1:]

In [19]:
def mse(X,Y):
  return ((X-Y)**2).mean() / 2

In [20]:
def linear_regression(x,w,b):
  return np.dot(x,w) + b

print(linear_regression([2,3],[3,2],2))

14

In [21]:
def gradient_descent(X,Y,w,_b,learning_rate,iterations):
  b = _b
  double_len_x = len(X) * 2
  X_transpose = X.transpose()
  for _ in range(iterations):
    linear_regressions = linear_regression(X,w,b)
    differences = (linear_regressions - Y)
    w_change = np.dot(X_transpose,differences)/double_len_x
    w -= learning_rate * w_change
    b_change = differences.mean()
    b -= learning_rate * b_change/2

    if _ % 10000 == 0:
      print('Iteration ' + str(_) + ', loss: ' + str(mse(linear_regressions,Y)))
      #print(np.dot(X_transpose,differences))

  return w,b

In [22]:
w = np.array([0] * 311, dtype = 'float')
w_,b = gradient_descent(train_df.to_numpy(),Y,w,0,0.01,100000)

Iteration 0, loss: 0.026640919287270397
Iteration 10000, loss: 0.000730100349155017
Iteration 20000, loss: 0.0006543404155018219
Iteration 30000, loss: 0.0006204946185175209
Iteration 40000, loss: 0.0005986605549955747
Iteration 50000, loss: 0.0005823804199780574
Iteration 60000, loss: 0.000569316090949838
Iteration 70000, loss: 0.0005583743151578514
Iteration 80000, loss: 0.0005489607336147316
Iteration 90000, loss: 0.0005407153322226371

In [23]:
y_pred = np.dot(w_,test_df.T)+b

In [24]:
final=target_scaler.inverse_transform(y_pred.reshape(-1,1))

In [25]:
final = final.flatten()

In [26]:
print(final)

[108192.64412865 145698.41670565 173972.60015517 ... 162672.78148917
 101568.79559635 220063.96191319]

In [ ]:
flat_list = [x for x in final]
prediction = pd.DataFrame({'id': range(1461,2920),'SalePrice':flat_list})
prediction.head()

     id      SalePrice
0  1461  108192.644129
1  1462  145698.416706
2  1463  173972.600155
3  1464  189321.270100
4  1465  211570.352492

In [ ]:
pd.DataFrame(prediction).to_csv("prediction_file.csv",index = False)