<a href="https://colab.research.google.com/github/YashPatel1604/AI-workshop-UTD/blob/main/LogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.linear_model import LogisticRegression
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [ ]:
train = pd.read_csv('titanic_train.csv')
test = pd.read_csv('titanic_test.csv')
split_index = train.iloc[-1].PassengerId
df = pd.concat((train,test),sort = False)
df.set_index('PassengerId',drop=True,inplace=True)

In [ ]:
def clean(df):
  df.drop(['Cabin','Ticket','Fare','PassengerId'],axis = 1,inplace = True)
  for x in df['Pclass']:
    df['Pclass'].loc[x] = str(x)
  for x in df['Pclass']:
    df['Pclass'].loc[x] = str(x)

  print(df['Pclass'])
  df['Age'].fillna(value = df['Age'].mean(),inplace =True)
  df['Sex'] = df['Sex'].map({'male':0,'female':1})
  df['Embarked'] = df['Embarked'].map({'C':'0','Q':'1','S':'2'})
  df['Title'] = df.Name.str.extract('([A-Za-z]+)\.', expand = False)
  df.drop(columns='Name',inplace = True)
  df['Title'].replace(['Dr','Rev','Mlle','Major','Col','Countess','Capt','Ms','Sir','Lady','Mme','Don','Jonkheer'],'Other',inplace = True)
  df['Title'] = df['Title'].map({'Mr':'0','Miss':'1','Mrs':'2','Master':'3','Other':'4'})
  for x in df['Age']:
    if x <= 5:
      df['Age'].replace(x,'Baby',inplace = True)
    elif x <= 14:
      df['Age'].replace(x,'Children',inplace = True)
    elif x <= 24:
      df['Age'].replace(x,'Youth',inplace = True)
    elif x <= 64:
      df['Age'].replace(x,'Adult',inplace = True)
    elif x>64:
      df['Age'].replace(x,'Seniors',inplace = True)
    else:
      pass
  df['Age'] = df['Age'].map({'Baby':'0','Children':'1','Youth':'2','Adult':'3','Seniors':'4'})
  df['Embarked'].bfill(inplace=True)
  df['Title'].fillna(value = '4',inplace=True)


def add_missing_dummy_columns(test,train):
  missing_cols = set(train.columns) - set(test.columns)
  missing_cols2 = set(test.columns) - set(train.columns)
  for c in missing_cols:
    test[c] = 0

  for c in missing_cols2:
    train[c] = 0

In [ ]:
clean(train)
clean(test)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

0      3
1      1
2      2
3      3
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: object
0      3
1      1
2      2
3      3
4      3
      ..
413    3
414    1
415    3
416    3
417    3
Name: Pclass, Length: 418, dtype: object

In [ ]:
encoded_train = pd.get_dummies(train)
encoded_train.head()

,Survived,Sex,SibSp,Parch,Pclass_1,Pclass_2,Pclass_3,Pclass_1,Pclass_2,Pclass_3,...,Age_3,Age_4,Embarked_0,Embarked_1,Embarked_2,Title_0,Title_1,Title_2,Title_3,Title_4
0,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
1,1,1,1,0,0,0,0,1,0,0,...,1,0,1,0,0,0,0,1,0,0
2,1,1,0,0,0,0,0,0,1,0,...,1,0,0,0,1,0,1,0,0,0
3,1,1,1,0,0,0,0,0,0,1,...,1,0,0,0,1,0,0,1,0,0
4,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,1,1,0,0,0,0

In [ ]:
encoded_test = pd.get_dummies(test)
encoded_test.head()

,Sex,SibSp,Parch,Pclass_1,Pclass_2,Pclass_3,Pclass_1,Pclass_2,Pclass_3,Age_0,...,Age_3,Age_4,Embarked_0,Embarked_1,Embarked_2,Title_0,Title_1,Title_2,Title_3,Title_4
0,0,0,0,0,0,1,0,0,0,0,...,1,0,0,1,0,1,0,0,0,0
1,1,1,0,0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,1,0,0
2,0,0,0,0,0,0,0,1,0,0,...,1,0,0,1,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,1,1,0,0,0,0
4,1,1,1,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [ ]:
# train_df = df.loc[:split_index]
# test_df = df.loc[split_index+1:]

In [ ]:
clf = LogisticRegression(random_state=0)
train_y = encoded_train['Survived']
encoded_train.drop('Survived',axis=1,inplace=True)

In [ ]:
clf.fit(encoded_train,train_y)

LogisticRegression(random_state=0)

In [ ]:
# test.drop('Survived',axis=1,inplace=True)

In [ ]:
y = clf.predict(encoded_test)

In [ ]:
y

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1])

In [ ]:
flat_list = [x for x in y]

In [ ]:
prediction = pd.DataFrame({'PassengerId': range(892,1310),'Survived':flat_list})
prediction.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [ ]:
pd.DataFrame(prediction).to_csv("titanic_prediction_file.csv",index = False)