<a href="https://colab.research.google.com/github/YashPatel1604/AI-workshop-UTD/blob/main/Pandas_DataFrames_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Pandas DataFrame exercises

In [ ]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame creation

### Create an empty pandas DataFrame

In [ ]:
# your code goes here
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

<img width=400 src="https://cdn.dribbble.com/users/4678/screenshots/1986600/avengers.png"></img>

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Create a `marvel_df` pandas DataFrame with the given marvel data

In [ ]:
marvel_data = [
    ['Spider-Man', 'male', 1962],
    ['Captain America', 'male', 1941],
    ['Wolverine', 'male', 1974],
    ['Iron Man', 'male', 1963],
    ['Thor', 'male', 1963],
    ['Thing', 'male', 1961],
    ['Mister Fantastic', 'male', 1961],
    ['Hulk', 'male', 1962],
    ['Beast', 'male', 1963],
    ['Invisible Woman', 'female', 1961],
    ['Storm', 'female', 1975],
    ['Namor', 'male', 1939],
    ['Hawkeye', 'male', 1964],
    ['Daredevil', 'male', 1964],
    ['Doctor Strange', 'male', 1963],
    ['Hank Pym', 'male', 1962],
    ['Scarlet Witch', 'female', 1964],
    ['Wasp', 'female', 1963],
    ['Black Widow', 'female', 1964],
    ['Vision', 'male', 1968]
]

In [ ]:
# your code goes here
marvel_df = pd.DataFrame(marvel_data)
print(marvel_df)

                   0       1     2
0         Spider-Man    male  1962
1    Captain America    male  1941
2          Wolverine    male  1974
3           Iron Man    male  1963
4               Thor    male  1963
5              Thing    male  1961
6   Mister Fantastic    male  1961
7               Hulk    male  1962
8              Beast    male  1963
9    Invisible Woman  female  1961
10             Storm  female  1975
11             Namor    male  1939
12           Hawkeye    male  1964
13         Daredevil    male  1964
14    Doctor Strange    male  1963
15          Hank Pym    male  1962
16     Scarlet Witch  female  1964
17              Wasp  female  1963
18       Black Widow  female  1964
19            Vision    male  1968

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Add column names to the `marvel_df`

In [ ]:
col_names = ['name', 'sex', 'first_appearance']

In [ ]:
# your code goes here
marvel_df.columns = col_names
print(marvel_df)

                name     sex  first_appearance
0         Spider-Man    male              1962
1    Captain America    male              1941
2          Wolverine    male              1974
3           Iron Man    male              1963
4               Thor    male              1963
5              Thing    male              1961
6   Mister Fantastic    male              1961
7               Hulk    male              1962
8              Beast    male              1963
9    Invisible Woman  female              1961
10             Storm  female              1975
11             Namor    male              1939
12           Hawkeye    male              1964
13         Daredevil    male              1964
14    Doctor Strange    male              1963
15          Hank Pym    male              1962
16     Scarlet Witch  female              1964
17              Wasp  female              1963
18       Black Widow  female              1964
19            Vision    male              1968

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Add index names to the `marvel_df` (use the character name as index)

In [ ]:
# your code goes here
marvel_df.index = marvel_df['name']
print(marvel_df)

                              name     sex  first_appearance
name
Spider-Man              Spider-Man    male              1962
Captain America    Captain America    male              1941
Wolverine                Wolverine    male              1974
Iron Man                  Iron Man    male              1963
Thor                          Thor    male              1963
Thing                        Thing    male              1961
Mister Fantastic  Mister Fantastic    male              1961
Hulk                          Hulk    male              1962
Beast                        Beast    male              1963
Invisible Woman    Invisible Woman  female              1961
Storm                        Storm  female              1975
Namor                        Namor    male              1939
Hawkeye                    Hawkeye    male              1964
Daredevil                Daredevil    male              1964
Doctor Strange      Doctor Strange    male              1963
Hank Pym                  Hank Pym    male              1962
Scarlet Witch        Scarlet Witch  female              1964
Wasp                          Wasp  female              1963
Black Widow            Black Widow  female              1964
Vision                      Vision    male              1968

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Drop the name column as it's now the index

In [ ]:
# your code goes here
marvel_df.drop(['name'],axis = 1,inplace=True)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Drop 'Namor' and 'Hank Pym' rows

In [ ]:
# your code goes here
marvel_df.drop(['Namor','Hank Pym'],axis = 0,inplace =True)

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame selection, slicing and indexation

### Show the first 5 elements on `marvel_df`

In [ ]:
# your code goes here
marvel_df.head()

                  sex  first_appearance
name
Spider-Man       male              1962
Captain America  male              1941
Wolverine        male              1974
Iron Man         male              1963
Thor             male              1963

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Show the last 5 elements on `marvel_df`

In [ ]:
# your code goes here
marvel_df.tail()

                   sex  first_appearance
name
Doctor Strange    male              1963
Scarlet Witch   female              1964
Wasp            female              1963
Black Widow     female              1964
Vision            male              1968

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Show just the sex of the first 5 elements on `marvel_df`

In [ ]:
# your code goes here
x = marvel_df.head()
x['sex']

name
Spider-Man         male
Captain America    male
Wolverine          male
Iron Man           male
Thor               male
Name: sex, dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Show the first and last elements on `marvel_df`

In [ ]:
# your code goes here
marvel_df.iloc[[0,-1]]

             sex  first_appearance
name
Spider-Man  male              1962
Vision      male              1968

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame manipulation and operations

### Modify the `first_appearance` of 'Vision' to year 1964

In [ ]:
# your code goes here
marvel_df.replace(to_replace= marvel_df.loc['Vision','first_appearance'], value = 1964, inplace = True)

In [ ]:
print(marvel_df)

                     sex  first_appearance
name
Spider-Man          male              1962
Captain America     male              1941
Wolverine           male              1974
Iron Man            male              1963
Thor                male              1963
Thing               male              1961
Mister Fantastic    male              1961
Hulk                male              1962
Beast               male              1963
Invisible Woman   female              1961
Storm             female              1975
Hawkeye             male              1964
Daredevil           male              1964
Doctor Strange      male              1963
Scarlet Witch     female              1964
Wasp              female              1963
Black Widow       female              1964
Vision              male              1964

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Add a new column to `marvel_df` called 'years_since' with the years since `first_appearance`

In [ ]:
# your code goes here
marvel_df.insert(2,'years_since',2022 - marvel_df['first_appearance'])

In [ ]:
print(marvel_df)

                     sex  first_appearance  years_since
name
Spider-Man          male              1962           60
Captain America     male              1941           81
Wolverine           male              1974           48
Iron Man            male              1963           59
Thor                male              1963           59
Thing               male              1961           61
Mister Fantastic    male              1961           61
Hulk                male              1962           60
Beast               male              1963           59
Invisible Woman   female              1961           61
Storm             female              1975           47
Hawkeye             male              1964           58
Daredevil           male              1964           58
Doctor Strange      male              1963           59
Scarlet Witch     female              1964           58
Wasp              female              1963           59
Black Widow       female              1964           58
Vision              male              1964           58

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame boolean arrays (also called masks)

### Given the `marvel_df` pandas DataFrame, make a mask showing the female characters

In [ ]:
# your code goes here
[marvel_df['sex'] == 'female']

[name
 Spider-Man          False
 Captain America     False
 Wolverine           False
 Iron Man            False
 Thor                False
 Thing               False
 Mister Fantastic    False
 Hulk                False
 Beast               False
 Invisible Woman      True
 Storm                True
 Hawkeye             False
 Daredevil           False
 Doctor Strange      False
 Scarlet Witch        True
 Wasp                 True
 Black Widow          True
 Vision              False
 Name: sex, dtype: bool]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, get the male characters

In [ ]:
# your code goes here
marvel_df[marvel_df['sex'] == 'male']

                   sex  first_appearance  years_since
name
Spider-Man        male              1962           60
Captain America   male              1941           81
Wolverine         male              1974           48
Iron Man          male              1963           59
Thor              male              1963           59
Thing             male              1961           61
Mister Fantastic  male              1961           61
Hulk              male              1962           60
Beast             male              1963           59
Hawkeye           male              1964           58
Daredevil         male              1964           58
Doctor Strange    male              1963           59
Vision            male              1964           58

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, get the characters with `first_appearance` after 1970

In [ ]:
# your code goes here
marvel_df[marvel_df['first_appearance'] > 1970]

              sex  first_appearance  years_since
name
Wolverine    male              1974           48
Storm      female              1975           47

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, get the female characters with `first_appearance` after 1970

In [ ]:
# your code goes here
marvel_df[(marvel_df['first_appearance'] > 1970) & (marvel_df['sex'] == 'female')]

          sex  first_appearance  years_since
name
Storm  female              1975           47

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame summary statistics

### Show basic statistics of `marvel_df`

In [ ]:
# your code goes here
marvel_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, Spider-Man to Vision
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sex               18 non-null     object
 1   first_appearance  18 non-null     int64
 2   years_since       18 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.1+ KB

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, show the mean value of `first_appearance`

In [ ]:
# your code goes here
marvel_df['first_appearance'].mean()

1962.888888888889

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, show the min value of `first_appearance`

In [ ]:
# your code goes here
marvel_df['first_appearance'].min()

1941

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, get the characters with the min value of `first_appearance`

In [ ]:
marvel_df[marvel_df['first_appearance'] == marvel_df['first_appearance'].min()]

                  sex  first_appearance  years_since
name
Captain America  male              1941           81

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)